<div class="container mt-5">
    <h1>Our Doctors</h1>
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card">
                <img src="path-to-doctor1.jpg" class="card-img-top" alt="Doctor 1">
                <div class="card-body">
                    <h5 class="card-title">Dr. John Doe</h5>
                    <p class="card-text">Specialist in Pediatrics</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="path-to-doctor2.jpg" class="card-img-top" alt="Doctor 2">
                <div class="card-body">
                    <h5 class="card-title">Dr. Jane Smith</h5>
                    <p class="card-text">Specialist in Gynecology</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="path-to-doctor3.jpg" class="card-img-top" alt="Doctor 3">
                <div class="card-body">
                    <h5 class="card-title">Dr. Richard Roe</h5>
                    <p class="card-text">Cardiologist</p>
                </div>
            </div>
        </div>
    </div>
</div>
