<div class="container mt-5">
    <h1>Facilities</h1>
    <p>Welcome to our hospital facilities page. Here are some of the advanced amenities we offer:</p>

    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">24x7 NICU</h5>
                    <p class="card-text">State-of-the-art Neonatal Intensive Care Unit.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Operation Theaters</h5>
                    <p class="card-text">Fully equipped for all types of surgeries.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">In-House Pharmacy</h5>
                    <p class="card-text">Convenient and reliable pharmacy services.</p>
                </div>
            </div>
        </div>
    </div>
</div>
