<div class="container mt-5">
    <h1>Our Services</h1>
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">Maternity Care</h5>
                    <p class="card-text">Comprehensive care for mothers and newborns.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">Pediatrics</h5>
                    <p class="card-text">Expert care for children from infancy to adolescence.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">Surgery</h5>
                    <p class="card-text">Modern operation theaters for all types of surgeries.</p>
                </div>
            </div>
        </div>
    </div>
</div>
